#latex
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

#sage
*.sagetex.sage
*.sagetex.sage.py
*.sagetex.scmd
*.sagetex.sout

#build-folder
build
